

<table border="1" style="width:300px">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th> 
    <th>Status</th> 
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.firstname %></td>
    <td><%= user.lastname %></td> 
    <td><% if user.admin == nil %> Not an Admin <% else %> Admin <% end %></td>
  </tr>
  <% end %>
  <%= paginate @users %>
</table>